*{
    font-family:"Quicksand";
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Cmain-principal{
    height: 80vh;
    background-image: url(./../images/bgOpacity.png);
    background-size: cover;
    background-color: #BCD4DE;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.Cmain-principal-section{
    display: flex;
    flex-flow: row;
    border-radius: 20px;
    background-color: #585F74;
    width: 60vw;
    height: 50vh;
    justify-content: space-around;
    color: white;
}

.Cmain-principal-section-form{
    color: white;
    display: flex;
    flex-flow: column nowrap;
    text-align: left;
    gap: 3vh;
    height: 40vh;
}

.Cmain-principal-section-textarea{
    display: flex;
    flex-flow: column wrap;
    gap: 4vh;
    height: 40vh;
}

.Cmain-principal-section-textarea-label{
    font-size: 1.3rem;
    padding-top: 2vh;
    text-align: center;
}

.Cmain-principal-section-form-input{
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 5;
    font-size: 1.3rem;
    color: white;
    background: #585F74;
    /*text-align: center*/
}

.Cmain-pricipal-section-form-mensaje{
    width: 25vw; 
    height: 30vh;
    border: 1px solid #000000;
    resize: none; 
}

.Cmain-principal-section-form-label{
    font-size: 1.3rem;
    padding-top: 2vh;
}

.Cmain-principal-section-a{
   align-self: center;
   text-align: center;
   padding-top: 1vh;
   color: #7CCFB4;
   background-color: #585F74;
   height: 6vh;
   width: 10vw;
   font-size: 1.5rem;
   border-radius: 11vh;
}

