@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    font-family:"Quicksand";
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.footer-mobile{
    display: none;
}

.footer-principal{
    height: 10vh;
    background-color: #585F74;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-principal-redes{
    display: flex;
    flex-flow: row wrap;
    gap: 0.5vw;
    padding-left: 2vw;
    padding-top: 3vh;
}

.footer-principal-redes-img{
    max-width: 3vw;
    max-height: 3vw;
}

.footer-principal-contacto{
    color: white;
    padding-right: 2vw;
    padding-top: 4vh;
}

@media (max-width: 850px){
    /* Aqui cambio las vistas de escritorio por las de movil */

    .footer-principal{
        display: none;
    }

    .footer-mobile{
        height: 10vh;
        background-color: #585f74;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        display: flex;
    }    

    .footer-mobile-nav-ul{
        display: flex;
        gap: 12vw;
    }




}
