.lisMain{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 80vh;
    gap: 3vw;
    background: url("./../images/bgOpacity.png");
    background-color: #BCD4DE;
    padding-top: 2vw;

}

.lisElementos{
    padding-right: 2vw;
    padding-left: 2vw;

}
