.search-result-pop{
    position: absolute;
    z-Index: 1;
    width:60vw;
    display: flex;
    flex-flow: column;
    background-color: #7CCFB4;
}
.search{
    position: absolute;
    z-Index: 1;
    width:60vw;
    display: flex;
    flex-flow: column;
    background-color: #7CCFB4;
}

.mON{
    border:3px dashed #585F74;
}

.mOFF{
    border: 0px solid black;
}
